{% extends 'navbar.html' %}
{% block header %}
{% endblock %}

{% block content %}
    <!-- Content Row -->
          <!-- <div class="row">

            <div class="col-xl-8 col-lg-7">


              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Area Chart</h6>
                </div>
                <div class="card-body">
                    <div id="container">show yourself</div>
                </div>
              </div>
            </div>
          </div> -->
    <div class="container-fluid">

    </div>
{% endblock %}


