{% extends 'navbar.html' %}
{% block header %}
{% endblock %}

{% block content %}
    <main data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div class="container-fluid" style="margin-top:100px">
    <h1>다른 지역의 감기 정보</h1>
    <br>
   <div class="container" style="top-margin:20px">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col" colspan="2">today</th>
                <th scope="col" colspan="2">tomorrow</th>
                <th scope="col" colspan="2">12-12</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">서울</th>
                    <td>좋음</td>
                    <td><img src="/static/images/panel_green.png"width=70 height=50 ></td>
                    <td>보통</td>
                    <td><img src="/static/images/panel_yellow.png"width=70 height=50 ></td>
                 <td>보통</td>
                    <td><img src="/static/images/panel_yellow.png"width=70 height=50 ></td>

                </tr>
                <tr>
                    <th scope="row">부산</th>
                    <td>보통</td>
                    <td><img src="/static/images/panel_yellow.png"width=70 height=50 ></td>
                    <td>보통</td>
                    <td><img src="/static/images/panel_yellow.png"width=70 height=50 ></td>
                 <td>좋음</td>
                    <td><img src="/static/images/panel_green.png"width=70 height=50 ></td>

                </tr>
                <tr>
                    <th>대전</th>
                    <td>나쁨</td>
                    <td><img src="/static/images/panel_red.png"width=70 height=50 ></td>
                    <td>좋음</td>
                    <td><img src="/static/images/panel_green.png"width=70 height=50 ></td>
                 <td>좋음</td>
                    <td><img src="/static/images/panel_green.png"width=70 height=50 ></td>

                </tr>
                <tr>
                    <th scope="row">인천</th>
                    <td>보통</td>
                    <td><img src="/static/images/panel_yellow.png"width=70 height=50 ></td>
                    <td><a>보통</a></td>
                    <td><img src="/static/images/panel_yellow.png"width=70 height=50 ></td>
                 <td><a>좋음</a></td>
                    <td><img src="/static/images/panel_green.png"width=70 height=50 ></td>

                </tr>
                <tr>
                    <th>춘천</th>
                    <td><a >나쁨</a></td>
                    <td><img src="/static/images/panel_red.png"width=70 height=50 ></td>
                    <td><a >경계</a></td>
                    <td><img src="/static/images/panel_orange.png"width=70 height=50 ></td>
                    <td><a >좋음</a></td>
                    <td><img src="/static/images/panel_green.png"width=70 height=50 ></td>

                </tr>
            </tbody>
        </table>
    <!-- 위 4가지 형식으로 대처 요령을 제공, 이후 DB model date == today 이런 식으로 해서 제 값을 넣는다. -->
    </div>

    </main>
{% endblock %}


