{% extends 'navbar.html' %}
{% block header %}
{% endblock %}

{% block content %}
    <div class="container-fluid" style="margin-top:80px">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">지역</th>
                    <th scope="col">지수</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">대전</th>
                    <td>보통</td>
                </tr>
                <tr>
                    <th scope="row">부산</th>
                    <td>보통</td>
                </tr>
            <tr>
                    <th scope="row">인천</th>
                    <td>나쁨</td>
                </tr>
                <tr>
                    <th scope="row">광주</th>
                    <td>보통</td>
                </tr>
            <tr>
                    <th scope="row">울산</th>
                    <td>보통</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}


