{% extends 'navbar.html' %}
{% block header %}
{% endblock %}

{% block content %}
    <main data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div class="container-fluid" style="margin-top:100px">
    <h1>날짜 / 지역 : {{ 'Seoul' }}</h1>
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <!-- Content Row -->
    <div id="morrisChart"> </div>
        <!-- 서울 데이터 입력칸 -->
        <script>
            var mydata = [
                {date : '2019-12-05', stroke : 1},
                {date : '2019-12-06', stroke : 2},
                {date : '2019-12-07', stroke : 3},
                {date : '2019-12-08', stroke : 4},
                {date : '2019-12-09', stroke : 2},
                {date : '2019-12-10', stroke : 1},
            ];
            </script>
    <!-- Chart 구현 칸
         원하는 지역코드에 맞춰 출력할 data 결정
    -->
            <script>
            new Morris.Line({
                element: 'morrisChart',
                data: mydata_seoul,
                xkey: 'date',
                ykeys: ['stroke'],
                labels: ['뇌졸중지수'],
                ymin : 1,
                ymax : 4,
            });
        </script>
        <div class="container-fluid">


        <h1>오늘의 감기지수 대처요령</h1>
    <br>
    <h5>당일 지수에 따라 대처하는 요령 4가지 작성 후 출력</h5>
        {% if 4 == 4 %}
        <div class="contact-wrap">
        <div class="row">
              <div class="card", size="width:400 rem">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">매우 나쁨</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
            ▶ 가급적 외출을 자제하고 과로하지 말기<br>
            ▶ 외출 시 마스크, 목도리 등을 착용하여 몸을 따뜻하게 하고 체온 유지하기<br>
            ▶ 머리나 몸이 물에 젖어있을 경우 몸을 충분히 말린 후 외출하기
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
            </div>

        </div>
        {% endif %}
    {% if 4 == 3 %}
        <div class="contact-wrap">
        <div class="row">

              <div class="card", size="width:400 rem">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">나쁨</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                          ▶ 충분한 수면을 취하고, 과로하지 말기<br>
            ▶ 체온을 유지하고 실내 적정한 온습도 유지하기
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% if 4 == 2 %}
        <div class="contact-wrap">
        <div class="row">

              <div class="card", size="width:400 rem">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">보통</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                          ▶ 규칙적인 생활습관 유지하기<br>
            ▶ 수분을 적절히 섭취하고, 외출 후 손과 발을 씻음
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        {% endif %}
    {% if 4 == 1 %}
        <div class="contact-wrap">
        <div class="row">
            <!-- 1. 미세먼지 카드 -->
              <div class="card", size="width:400 rem">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">좋음</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                          ▶ 감기예방을 위한 건강한 생활습관 유지<br>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        {% endif %}
    <!-- 위 4가지 형식으로 대처 요령을 제공, 이후 DB model date == today 이런 식으로 해서 제 값을 넣는다. -->
    </div>
    </main>
{% endblock %}


